body{
    background-color: #FFF5F4;
    font-family: "Palatino Linotype", "Palatino", serif;
}

.header{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px; 
}

.left {
    display: flex;
    align-items: center; 
}

.right {
    display: flex; 
    align-items: center; 
}

.logo{
    width: 45px;
    height: 45px;
}

.name{
    font-size: 25px;
    padding: 10px 10px ;
    align-self: center;
}

.user{
    font-size: 20px;
    margin-right: 10px;
}

.profile-img{
    width: 55px; 
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.separador{
    background-color: #B66461;
    width: auto;
    height: 2px;
}

.preferencias{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pref{
    font-size: 17px;
    display: block;
    margin-bottom: 5px;
}

.combo{
    display: block;
    margin-right: 12%;
    text-align: center;
}

.combo-last{
    display: block;
    text-align: center;
}

.combo-box{
    background-color: rgba(182, 100, 97, 0.2);
    color: black;
    width: 130px;
    height: 35px;
    border-radius: 15px;
    border: 1px #cccccc solid;
}

.search-img{
    width: 22px;
    height: 22px;
}

.tam{
    height: 60px;
}

.relleno{
    width: 25px;
    height: 22px;
    margin-right: 7px;
}

.buttons{
    margin-top: 22px;
    justify-self: center;
}

.button{
    background-color: #E4A5A3;
    color: #FFFFFF;
    border: 1px #cccccc solid;
    height: 40px;
    border-radius: 20px;
    margin-right: 20px;
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 30px; 
    padding: 20px;
}

.img-container{
    display: flex;
    justify-content: center;
}

.img-card{
    width: 90%;
    height: 100%;
    margin-top: 20px;
    border-radius: 20px;
}

.site{
    width: auto;
    background-color: #FFF5F4;
    border: 1px #E4A5A3 solid;
    border-radius: 50px;
    display: flex; 
    align-items: center; 
}

.like{
    width: 20px;
    height: 20px;
}

.ubi{
    width: 25px;
    height: 25px;
}

.card-link{
    text-decoration: none;
}

.card-title{
    font-size: 25px;
    color: black;
    padding: 15px;
    font-weight: bold;
}

.detalles{
    color: black;
    font-size: 20px;
}

.sep{
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px 10px;
}

.div-price{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.price{
    font-size: 22px;
    font-weight: bold;
}


@media screen and (max-width: 1090px) {
    .preferencias{
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        justify-items: center;
    }

    .pref{
        font-size: 16px;
    }

    .combo-box{
        width: 100px;
        height: 35px;
    }

    .search-img{
        width: 18px;
        height: 18px;
    }
    
    .tam{
        height: 40px;
    }

    .buttons{
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: center;
    }

    .products{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 25px; 
    }
}

@media screen and (max-width: 580px){
    .header{
        display: flex; 
        justify-content: space-between; 
        align-items: center;
        padding: 5px; 
    }

    .user{
        font-size: 15px;
        margin-right: 5px;
    }   
    
    .logo{
        width: 30px;
        height: 30px;
    }
    
    .name{
        font-size: 17px;
        padding: 7px 7px ;
        align-self: center;
    }

    .combo-box{
        width: 85px;
        height: 35px;
    }

    .button{
        font-size: 16px;
    }

    .card-title{
        font-size: 18px;
    }

    .sep{
        display: block;
    }

    .ubi{
        width: 18px;
        height: 18px;
    }

    .detalles{
        font-size: 17px;
        margin-bottom: 8px;
    }

    .num-likes{
        font-size: 17px;
    }

    .like{
        width: 17px;
        height: 17px;
    }
}

